/ footer-start
%footer.module
  .copyright
    .container
      .row
        .col-lg-12{:style => "padding-bottom: 50px;"}
          .align-center
            %p Copyright © 2018,  All Rights Reserved
/ footer-end
:javascript
  $(document).ready(function () {
      $('#horizontalTab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion           
          width: 'auto', //auto or any width like 600px
          fit: true   // 100% fit in a container
      });
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
