%body
  %header
    .top-head
      .container
        .row
          .col-lg-12
            %ul.notification-list
              %ul.top_nav
                %li
                  = link_to root_path do
                    = "Logo"